#div1{
    padding-top:40px;
    height:600px;
    width:600px;
    background-color:rgb(243, 42, 86);
    margin:40px;
    }
  #div2{
    height:300px;
    width:350px;
    background-color:rgb(177, 189, 11);
    position:relative;
    left:670px;
    bottom:590px;
    }
  #div3{
    height:300px;
    width:350px;
    background-color:rgb(3, 46, 6);
    position:relative;
    left:670px;
    bottom:550px;
    }
    